<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cart
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <button id="cart-button1" ion-button color="positive" block>
    Tap me!
  </button>
</ion-content>