<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu22">
    <ion-list id="menu2-list2">
      <ion-item color="none" menuClose="" on-click="goToHome2()" id="menu2-list-item4">
        Home
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToCart2()" id="menu2-list-item5">
        Cart
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToCloud2()" id="menu2-list-item6">
        Cloud
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>