<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cloud
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <div id="cloud-markdown1" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Some friendly
      <strong>
        markdown
      </strong>
    </p>
  </div>
</ion-content>