<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="home-heading1" style="color:#DA1D1D;font-style:italic;text-align:center;"></h1>
  <img src="assets/img/I0A3wIFEQq6vTljqu4vP_Magnifique_fond_ecran_HD_-_Hiver.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <ion-list id="home-list3">
    <ion-item color="none" id="home-list-item7">
      <ion-avatar item-left>
        <img />
      </ion-avatar>
      <h2>
        Yoann
      </h2>
    </ion-item>
  </ion-list>
</ion-content>